/* #addForm{
  border-radius: 25px;
  border: 2px solid #a2aba5;
  height: 270px;
  width: 100%;
   
} */

#head{
    background-image: url('login-bg.jpg');
  }
#flashedmessage{
    text-align: center;
    color: red;
    font-weight: bold;
}
  
  #roundedform{
    border-radius: 25px;
    border: 2px solid #a2aba5;
    width: 100%;
    margin-bottom: 5%;   
  }
  
  #roundedform2{
    border-radius: 25px;
    border: 2px solid #a2aba5;
    width: 100%;   
  }
  
  
  .form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
  }
  .form-signin .form-signin-heading,
  .form-signin .checkbox {
    margin-bottom: 10px;
  }
  .form-signin .checkbox {
    font-weight: normal;
  }
  .form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }