<!DOCTYPE html>
<html lang="en">
{% import "bootstrap/wtf.html" as wtf %}

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>BlogSpot</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='bootstrap.min.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='signin.css') }}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='clean-blog.min.css') }}" rel="stylesheet">

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="{{url_for('home') }}">BlogSpot</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('home') }}">Home</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{{url_for('add') }}">Add Post</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('login') }}">Log in</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Header -->
  <header class="masthead" id="head">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>Sign in</h1>
            <span class="subheading">You can create an account for free here</span>
          </div>
        </div>
      </div>
    </div>
  </header>

   {% block content %}
  {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
        <p id="flashedmessage"> {{ msg }}</p>
        {% endfor %}
      {% endif %}
  {% endwith %}

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <form name="sentMessage" id="addForm" method="POST" action="{{url_for('signin') }}" novalidate>
         <div class="control-group">
            <div  id="roundedform" class="form-group floating-label-form-group controls">
                 <p >
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.email) }}
                </p>
            </div>
          </div>
          <div class="control-group">
            <div  id="roundedform" class="form-group floating-label-form-group controls">
                 <p >
                {{ form.hidden_tag() }}
                {{ wtf.form_field(form.name) }}
                </p>
            </div>
          </div>
          <div  class="control-group">
            <div id="roundedform2" class="form-group floating-label-form-group controls">
              <p >
                {{ wtf.form_field(form.password) }}
                </p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Register</button>
        </form>
      </div>
    </div>
  </div>
  <hr>
  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
        </div>
      </div>
    </div>
  </footer>

   {% endblock %}



    <!-- Bootstrap core JavaScript -->
  <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>

  <!-- Custom scripts for this template -->
  <script src="{{ url_for('static', filename='clean-blog.min.js') }}"></script>



</body>

</html>
